[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "libigl"]
	path = libigl
	url = https://github.com/libigl/libigl
